Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAddress" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AdwWcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAddress_GetInfoAutentication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAutentication" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetInfoAutentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAutenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetFirstAddressLine1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstAddressLine1" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetFirstAddressLine1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstAddressLine1Response" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceAddress_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAddress">
    <wsdl:operation name="GetInfoAutentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddress/GetInfoAutentication" message="tns:IServiceAddress_GetInfoAutentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddress/GetInfoAutenticationResponse" message="tns:IServiceAddress_GetInfoAutentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddressLine1">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddress/GetFirstAddressLine1" message="tns:IServiceAddress_GetFirstAddressLine1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddress/GetFirstAddressLine1Response" message="tns:IServiceAddress_GetFirstAddressLine1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddress/GetData" message="tns:IServiceAddress_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddress/GetDataResponse" message="tns:IServiceAddress_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddress/GetDataUsingDataContract" message="tns:IServiceAddress_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddress/GetDataUsingDataContractResponse" message="tns:IServiceAddress_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAddress" type="tns:IServiceAddress">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoAutentication">
      <soap:operation soapAction="http://tempuri.org/IServiceAddress/GetInfoAutentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstAddressLine1">
      <soap:operation soapAction="http://tempuri.org/IServiceAddress/GetFirstAddressLine1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceAddress/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceAddress/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAddress">
    <wsdl:port name="BasicHttpBinding_IServiceAddress" binding="tns:BasicHttpBinding_IServiceAddress">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AdwWcfServiceLibrary/ServiceAddress/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>